@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: radial-gradient(#282c34, #282c34);
}

main,
nav {
  @apply max-w-6xl mx-auto my-12;
}
